/* Reset */

html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
}

/* Tokens */
:root {
  --color-flavor-1-t2: #ffe3e4;
  --color-flavor-1-t1: #eeb0b3;
  --color-flavor-1: #d1676b;
  --color-flavor-1-s1: #ac5f62;
  --color-flavor-1-s2: #834547;
  --color-flavor-2: #d1676b;
  --color-neutral-light: #ffffff;
  --color-neutral-light-s1: #e7e9ea;
  --color-neutral-dark-t1: #71787f;
  --color-neutral-dark: #424b54;

  --color-bg: var(--color-neutral-light);
  --color-bg-s: var(--color-neutral-light-s1);
  --color-bg-dark: var(--color-neutral-dark);
  --color-bg-flavor-t: var(--color-flavor-1-t2);
  --color-bg-flavor: var(--color-flavor-1);
  --color-bg-flavor-s: var(--color-flavor-1-s1);
  --color-text: var(--color-neutral-dark);
  --color-text-t: var(--color-neutral-dark-t1);
  --color-text-light: var(--color-neutral-light);
  --color-text-flavor: var(--color-flavor-1);

  --font-family-content: "Roboto", sans-serif;

  --font-weight-r: 400;
  --font-weight-m: 500;
  --font-weight-b: 700;

  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 28px;

  --line-height-m: 1.5;

  --margin-s: 8px;
  --margin-m: 16px;
  --margin-l: 24px;

  --border-xs: 1px;
  --border-s: 2px;
  --border-m: 4px;
  --border-l: 8px;

  --padding-s: 8px;
  --padding-m: 16px;
  --padding-l: 24px;
}

/* Global Styles */
body {
  color: var(--color-text);
  font-family: var(--font-family-content);
  font-weight: var(--font-weight-r);
  font-style: normal;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}